.app {
  position: absolute;
  max-width: 100%;
  width: 100vw;
  height: auto;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .authWindow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.63);
    transition: 0.2s;
    &.disabled {
      transition: 0.2s;
      display: none;
    }
    .modal {
      background-color: rgb(59, 59, 59);
      padding: 30px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        font-size: 16pt;
        color: white;
      }
      input {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border: none;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(70, 70, 70);
      }
      button {
        border: none;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        cursor: pointer;
        &:last-child {
          margin-top: 20px;
          background-color: rgb(70, 70, 70);
        }
      }
    }
  }
  .header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    color: white;
    transition: 0.2s;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    &.active {
      background-color: rgb(0, 0, 0);
      transition: 0.2s;
    }
    .logo {
      padding: 10px;
      font-size: 16pt;
      font-weight: 500;
    }
    .buttons {
      display: flex;
      padding: 10px;
      gap: 10px;
      button {
        cursor: pointer;
        border: none;
        background: none;
        font-size: 14pt;
        color: white;
        transition: 0.2s;
        border-radius: 5px;

        &:hover {
          background-color: rgb(255, 255, 255);
          color: black;
          border-radius: 5px;
          transition: 0.2s;
        }
      }
    }
  }
  .content {
    flex-grow: 1;
    background-color: rgb(39, 39, 39);
    width: 100%;
    max-width: 100%;
    &__welcome {
      height: 70vh;
      width: 100%;
      background-image: url(../../public/dlya-slidera.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__imageFilter {
      height: 70vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.658);
      position: absolute;
      z-index: 1;
      top: 0;
      backdrop-filter: blur(5.2px);
      display: flex;
      justify-content: center;
      align-items: center;

      .message {
        width: 50%;
        height: 40%;

        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          letter-spacing: 1px;
          color: white;
          font-weight: 700;
          font-size: 45pt;
        }
        .subText {
          color: white;
          letter-spacing: 1px;
        }
        .ticketInput {
          margin-top: 30px;
          display: flex;
          gap: 20px;
          input {
            padding: 10px;
            background-color: white;
            border: none;
            border-radius: 5px;
          }
          button {
            border: none;
            background-color: rgb(184, 80, 54);
            border-radius: 5px;
            color: white;
            font-weight: 500;
            cursor: pointer;
            padding: 10px;
            transition: 0.2s;
            &:hover {
              background-color: white;
              color: black;
              transition: 0.2s;
            }
          }
        }
      }
    }
    .content__price {
      background-color: rgb(51, 51, 51);
      width: 100%;
      height: 100px;
      z-index: 2;
      display: flex;
      justify-content: center;
      gap: 50px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      align-items: center;

      .categoryBtns {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.3;
        transition: 0.2s;
        &:hover {
          opacity: 0.7;
          transition: 0.2s;
          transform: translateY(-5px);
        }
        &.active {
          opacity: 1;
          transition: 0.2s;
          transform: translateY(-5px);
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .content__price_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
  }
  .content__pice_burger {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .priceContainer {
      .card_hidden {
        display: none;
      }
      .card {
        hr {
          width: 56rem;
          border: 1px solid #545454;
        }
        position: absolute;
        height: auto;
        width: 50%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        background-color: rgb(63, 63, 63);
        color: white;
        .priceEl {
          padding: 2rem 2rem 1rem;
          display: flex;
          justify-content: space-between;
          .name {

          }
          .price {

          }
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5rem;
      .priceRow {
        display: flex;
        gap: 5rem;
        .priceItem {
          padding: 10px;
          background-color: #383838;
          border-radius: 10px;
          display: flex;
          height: 15rem;
          width: 15rem;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 15px;
          img {
            height: 250px;
            width: 150px;
            object-fit: cover;
          }
          button {
            background-color: #313131;
            border-radius: 7px;
            padding: 8px;
            color: #eeeeee;
            cursor: pointer;
            outline: none;
            border: 2px solid #8d8d8d;
          }
        }

      }
    }
  }
  .content__banner {
    background-position: center;
    background: url(../../public/photo_2022-03-04_01-07-10.jpg);
    background-repeat: no-repeat;

    width: 100%;
    height: 500px;
    .content__banner_filter {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      height: 500px;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      .content__banner_text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          display: flex;
          flex-direction: column;
          gap: 30px;
          color: white;
          font-size: 24pt;
          font-weight: 300;
          padding: 20px;

          border-radius: 10px;
        }
      }
    }
  }
  .contacts__mapInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    line-height: 30px;
    h1 {
      color: white;
    }
  }
  .reviews {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    .title {
      color: white;
      font-size: larger;
    }
    .last {
      display: flex;
      gap: 5rem;
      .item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #333333;
        padding: 1rem;
        border-radius: 8px;
        .title {

        }
        .text {
          color: white;
        }
      }

    }
  }
  .footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    color: rgba(255, 255, 255, 0.514);
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}
.content__contacts {
  background-color: rgb(51, 51, 51);
  width: 100%;
  height: 500px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
